<template>
  <div id="news">
    <p>{{ message }}</p>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      message: "NEWS!"
    }
  },
  mounted: function() {

  }
}
</script>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>
